:root {
  --white: #fff;
  --black: #000;
  --background-color1: #0b6e44;
  --background-color2: #4a6548;
  --tile-color: #0b7e44;
  --alice-blue: aliceblue;
  --header-color: #333;
}

* {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

html {
    font-size: 62.5%;
}

body {
  width: 100%;
  background: linear-gradient(to left, var(--background-color1), var(--background-color2));
}

.heading {
  width: 100%;
  background-color: var(--header-color);
  color: var(--alice-blue);
  border-bottom: 0.2rem solid var(--black);
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  -webkit-text-stroke: 0.05rem var(--background-color1);
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
  position: fixed;
  top: 0;
}

.background {
  height: 100vh;
  width: 100vw;
}

.chess-board {
    display: grid;
    grid-template-columns: repeat(8, 5.3rem);
    grid-template-rows: repeat(8, 5.3rem);
    gap:0;
    place-items: center;
    width: max-content;
    border: 1rem black;
    background-color: var(--black);
    position: relative;
    top: 10rem;
    margin: 1.5rem auto;
    padding: 0.2rem;
    transform: scale(1.1);
}

.tile {
    width: 5rem;
    height: 5rem;
    font-size: xx-large;
    text-align: center;
}

.tile:hover {
  outline: turquoise solid 0.2rem;
}

.white {
    background-color: var(--white);
    -webkit-text-stroke: 0.004m var(--black);
}

.black {
  background-color: var(--black);
  -webkit-text-stroke: 0.004em var(--white);
}

.white-piece {
  color: var(--white)
}

.footer {
  width: 100%;
  background-color: #333;
  color: var(--alice-blue);
  border-top: 0.2rem solid black;
  text-align: left;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: x-large;
  letter-spacing: 0.1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  font-style: italic;
  text-indent: 2rem;
  position: fixed;
  bottom: 0;
}

#creator {
  font-size: larger;
  color: var(--background-color1);
  font-weight: bold;
  font-family: cursive;
  text-decoration: none;
}

@media screen and (max-height: 37rem) {
  .chess-board {
    margin: -6rem auto 0;
    transform: scale(0.8);
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }  
}



